*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(69, 62, 62);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,200px);
    gap: .4rem;
    padding: 4rem;
    border: 2px solid white;
    /* justify-items: end; */
    /* align-items: center; */
    place-items: center;
}
.item{
    height: 50px;
    width: 100px;
    background-color: rgb(49, 206, 14);
    border: 5px solid rgb(217, 202, 202);
    /* aligns itself at the end of the cell. use inspection command.we can also use start, center and stretch. 
    for using stretch command comment out width and height. justify-self is for horizontal axis. */
    /* justify-self: end; */
    /* align-self is for vertical axis. */
    /* align-self: start; */
    /* place-self is for both align and justify- self */
    /* place-self: center; */
}